<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangxin.langshu.business.edu.dao.course.impl.mapper.AdvertMapper" >
  <resultMap id="BaseResultMap" type="com.wangxin.langshu.business.edu.entity.course.old.Advert" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="valid_value" property="validValue" jdbcType="TINYINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="advert_title" property="advertTitle" jdbcType="VARCHAR" />
    <result column="advert_type" property="advertType" jdbcType="INTEGER" />
    <result column="advert_content" property="advertContent" jdbcType="VARCHAR" />
    <result column="advert_img" property="advertImg" jdbcType="VARCHAR" />
    <result column="advert_url" property="advertUrl" jdbcType="VARCHAR" />
    <result column="advert_target" property="advertTarget" jdbcType="VARCHAR" />
    <result column="advert_location" property="advertLocation" jdbcType="TINYINT" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="plat_show" property="platShow" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_time, modified_time, valid_value, sort, advert_title, advert_type,advert_content,advert_img, advert_url, advert_target, 
    advert_location, begin_time, end_time, plat_show
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wangxin.langshu.business.edu.entity.course.old.AdvertExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from advert
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from advert
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String"  >
    delete from advert
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wangxin.langshu.business.edu.entity.course.old.AdvertExample" >
    delete from advert
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wangxin.langshu.business.edu.entity.course.old.Advert" >
    insert into advert (id, create_time, modified_time, 
      valid_value, sort, advert_title, advert_type,advert_content,
      advert_img, advert_url, advert_target, 
      advert_location, begin_time, end_time, 
      plat_show)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}, 
      #{validValue,jdbcType=TINYINT}, #{sort,jdbcType=INTEGER}, #{advertTitle,jdbcType=VARCHAR}, 
      #{advertType,jdbcType=INTEGER},
      #{advertContent,jdbcType=VARCHAR},
      #{advertImg,jdbcType=VARCHAR}, #{advertUrl,jdbcType=VARCHAR}, #{advertTarget,jdbcType=VARCHAR}, 
      #{advertLocation,jdbcType=TINYINT}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{platShow,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.wangxin.langshu.business.edu.entity.course.old.Advert" >
    insert into advert
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
      <if test="validValue != null" >
        valid_value,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="advertTitle != null" >
        advert_title,
      </if>
      <if test="advertType != null" >
        advert_type,
      </if>
      <if test="advertContent != null" >
        advert_content,
      </if>
      <if test="advertImg != null" >
        advert_img,
      </if>
      <if test="advertUrl != null" >
        advert_url,
      </if>
      <if test="advertTarget != null" >
        advert_target,
      </if>
      <if test="advertLocation != null" >
        advert_location,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="platShow != null" >
        plat_show,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validValue != null" >
        #{validValue,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="advertTitle != null" >
        #{advertTitle,jdbcType=VARCHAR},
      </if>
      <if test="advertType != null" >
        #{advertType,jdbcType=INTEGER},
      </if>
      <if test="advertContent != null" >
        #{advertContent,jdbcType=VARCHAR},
      </if>
      <if test="advertImg != null" >
        #{advertImg,jdbcType=VARCHAR},
      </if>
      <if test="advertUrl != null" >
        #{advertUrl,jdbcType=VARCHAR},
      </if>
      <if test="advertTarget != null" >
        #{advertTarget,jdbcType=VARCHAR},
      </if>
      <if test="advertLocation != null" >
        #{advertLocation,jdbcType=TINYINT},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platShow != null" >
        #{platShow,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wangxin.langshu.business.edu.entity.course.old.AdvertExample" resultType="java.lang.Integer" >
    select count(*) from advert
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update advert
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedTime != null" >
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.validValue != null" >
        valid_value = #{record.validValue,jdbcType=TINYINT},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.advertTitle != null" >
        advert_title = #{record.advertTitle,jdbcType=VARCHAR},
      </if>
       <if test="record.advertType != null" >
        advert_type = #{record.advertType,jdbcType=INTEGER},
      </if>
      <if test="record.advertContent != null" >
        advert_content = #{record.advertContent,jdbcType=VARCHAR},
      </if>
      <if test="record.advertImg != null" >
        advert_img = #{record.advertImg,jdbcType=VARCHAR},
      </if>
      <if test="record.advertUrl != null" >
        advert_url = #{record.advertUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.advertTarget != null" >
        advert_target = #{record.advertTarget,jdbcType=VARCHAR},
      </if>
      <if test="record.advertLocation != null" >
        advert_location = #{record.advertLocation,jdbcType=TINYINT},
      </if>
      <if test="record.beginTime != null" >
        begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.platShow != null" >
        plat_show = #{record.platShow,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update advert
    set id = #{record.id,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      valid_value = #{record.validValue,jdbcType=TINYINT},
      sort = #{record.sort,jdbcType=INTEGER},
      advert_title = #{record.advertTitle,jdbcType=VARCHAR},
      advert_type = #{record.advertType,jdbcType=INTEGER},
      advert_content = #{record.advertContent,jdbcType=VARCHAR},
      advert_img = #{record.advertImg,jdbcType=VARCHAR},
      advert_url = #{record.advertUrl,jdbcType=VARCHAR},
      advert_target = #{record.advertTarget,jdbcType=VARCHAR},
      advert_location = #{record.advertLocation,jdbcType=TINYINT},
      begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      plat_show = #{record.platShow,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangxin.langshu.business.edu.entity.course.old.Advert" >
    update advert
    <set >
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validValue != null" >
        valid_value = #{validValue,jdbcType=TINYINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="advertTitle != null" >
        advert_title = #{advertTitle,jdbcType=VARCHAR},
      </if>
      <if test="advertType != null" >
        advert_type = #{advertType,jdbcType=INTEGER},
      </if>
      <if test="advertContent != null" >
        advert_content = #{advertContent,jdbcType=VARCHAR},
      </if>
      <if test="advertImg != null" >
        advert_img = #{advertImg,jdbcType=VARCHAR},
      </if>
      <if test="advertUrl != null" >
        advert_url = #{advertUrl,jdbcType=VARCHAR},
      </if>
      <if test="advertTarget != null" >
        advert_target = #{advertTarget,jdbcType=VARCHAR},
      </if>
      <if test="advertLocation != null" >
        advert_location = #{advertLocation,jdbcType=TINYINT},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="platShow != null" >
        plat_show = #{platShow,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangxin.langshu.business.edu.entity.course.old.Advert" >
    update advert
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      valid_value = #{validValue,jdbcType=TINYINT},
      sort = #{sort,jdbcType=INTEGER},
      advert_title = #{advertTitle,jdbcType=VARCHAR},
      advert_type = #{advertType,jdbcType=INTEGER},
      advert_content = #{advertContent,jdbcType=VARCHAR},
      advert_img = #{advertImg,jdbcType=VARCHAR},
      advert_url = #{advertUrl,jdbcType=VARCHAR},
      advert_target = #{advertTarget,jdbcType=VARCHAR},
      advert_location = #{advertLocation,jdbcType=TINYINT},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      plat_show = #{platShow,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>